@import "tailwindcss";

:root {
	--werent-green-1: #1d3222;
	--werent-green-2: #4e7c58;
	--werent-green-3: #43654a;
	--werent-font-1: 1.5rem;
	--werent-font-2: 1.25rem;
	--werent-font-3: 1rem;
	--werent-font-4: 0.875rem;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-werent-green-1: var(--werent-green-1);
	--color-werent-green-2: var(--werent-green-2);
	--color-werent-green-3: var(--werent-green-3);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.font-size-1 {
	font-size: var(--werent-font-1);
}
.font-size-2 {
	font-size: var(--werent-font-2);
}
.font-size-3 {
	font-size: var(--werent-font-3);
}
.font-size-4 {
	font-size: var(--werent-font-4);
}

body {
	background-color: #f3f3f3;
	font-family: Raleway, sans-serif;
}
